/* TODO: rewrite to styled components */
.welcome-page{
  font-family: 'Roboto', sans-serif;
  width:100vw;
  height:75vh;
  text-align: center;
  padding-top:25vh;
}

.welcome-page > h1{
  font-family: 'Indie Flower', cursive;
  font-size:4.5vw;
  font-weight: bold;
}

.welcome-page > h4 > a{
  color: inherit;
  letter-spacing: 0.5px;
}

.welcome-page > h4 > a:hover{
  color: #66abd6;
}