/* TODO: styled component */
.registration{
	font-family: 'Roboto', sans-serif;
    width:60vw;
    height: 60vh;
    padding-top:20vh;
    margin-left:20vw;
	background-color:transparent;
}

@media screen and (max-width:768px){
	.registration{
		padding-top:2vh;
		width:100vw;
		margin-left: 0;
	}
}