.Registration{
    width:60vw;
    height: 70vh;
    margin-top:15vh;
    margin-left:20vw;
    background-color:red;
}

.StepOne{
    width:100%;
    height:100%;
}

.StepTwo{
    width:100%;
    height:100%;
}

.StepThree{
    width:100%;
    height:100%;
}